<?xml version="1.0"?>
<configuration>
	<sitecore>
		<commands>
			<command name="webedit:authenticatedpreview" type="Sitecore.AuthenticatedPreview.Commands.Preview,Sitecore.AuthenticatedPreview"/>
			<command name="item:authenticatedpreview" type="Sitecore.AuthenticatedPreview.Commands.PreviewItem,Sitecore.AuthenticatedPreview"/>
			<command name="system:authenticatedpreview" type="Sitecore.AuthenticatedPreview.Commands.System.Preview,Sitecore.AuthenticatedPreview"/>
		</commands>
	</sitecore>
</configuration>
